.App {
  /* position: relative;
  background-image: url('/bg.png');
  background-position: top;
  filter: blur(50px); */
}

div.sites:hover .delete-site {
  opacity: 1;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #111000;
  border-radius: 50rem;
}

::-webkit-scrollbar-track {
  background-color: #00000024;
  border-radius: 50rem;
}

